.auth-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #E8F5E9;

}

.auth-card {
    background: white;
    padding: 40px;
    width: 420px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
}

.auth-title {
    font-weight: 700;
    font-size: 28px;

    color: #2E7D32;
}

.auth-subtitle {
    margin-top: -5px;
    margin-bottom: 20px;
    color: #4E6E51;
}

.input-box {
    height: 48px;
    border-radius: 10px;
    border: 1px solid #A5D6A7;

}

/* Register Button */
.btn-primary {
    background-color: #2E7D32 !important;
    border-radius: 10px;
    height: 48px;
    border: none;
    transition: background-color 0.3s ease-in-out;
    /* smooth transition */
}

/* Hover Effect */
.btn-primary:hover {
    background-color: #1B5E20 !important;

}

/*  Link styling */
.link-highlight {
    color: #1B5E20;
    font-weight: 600;
    text-decoration: none;
}

.link-highlight:hover {
    text-decoration: underline;
}

.alert-danger,
.alert-success {
    border-radius: 10px;
}