<div class="home-container">

  <div class="brand-card shadow-lg">
    <img src="https://cdn-icons-png.flaticon.com/512/1046/1046857.png" class="logo" />

    <h1 class="title">Order Your Favorite Food</h1>
    <p class="subtitle">Fast delivery • Fresh meals • Trusted restaurants</p>

    <div class="btn-group">
      <a routerLink="/login" class="btn btn-primary btn-lg px-5">Login</a>
      <a routerLink="/register" class="btn btn-outline-primary btn-lg px-5">Register</a>
    </div>
  </div>

</div>